
.par-title {
    margin-top: 35px;
    margin-bottom: 20px;
}

.par-title > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flesh {
    min-height: 60px;
    /*background-color: #71101f;*/
}

.dispFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.satr .dayereh {
    width: 8px;
    height: 8px;
    margin-bottom: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--primary1);
}

@media only screen and (max-width: 500px) {
    .par-title {
        margin-top: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 359px) {
    .par-title {
        margin-top: -20px;
    }
}
